# Compiled class file
*.class
Generated*.java
classes/
gensrc/
target/

#.prefs
*.prefs

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
**/addons
**/gensrc
**/addonsrc
**/testclasses
**/eclipsebin
*testclasses.xml
*.
*_bof.jar
**/.classpath
**/.springBeans
*wro_addons.xml
**/.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


